@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import '../../../Styles/common.scss';

.marketList {
  margin: 20px 0px auto;
  width: 1800px;
  height: 350px;

  h1 {
    @extend %flex-center;
    height: 50px;
    font-size: x-large;
    font-weight: 700;
  }
  .category {
    display: flex;
    justify-content: center;
    width: 1800px;
    height: 300px;

    .categoryButton {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 900px;
      height: 210px;
    }
  }
  .buttonList {
    @extend %flex-center;
    margin: 5px;
    width: 114px;
    height: 114px;
    border-radius: 100%;
    background-color: $PrimaryGrey;
    font-size: 16px;
    cursor: pointer;

    &.true {
      background-color: $PrimaryGreen;
    }

    &.false {
      background-color: $PrimaryGrey;
    }

    &:hover {
      background-color: rgb(226, 226, 199);
    }

    a:active,
    a:visited {
      @extend %flex-center;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $PrimaryGreen;
    }

    .icons {
      @extend %flex-center;
      padding: 5px;
      font-size: 30px;
    }
  }
}
