@import '../../../../Styles/common.scss';

.inquiry_tab {
  .inquiry_header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid $PrimaryLightGreen;

    .total {
      font-weight: bold;
    }
  }

  .inquiry_container {
    .contents {
      display: flex;
      justify-content: space-between;
    }
  }
}
