@import '../../Styles/common.scss';
@import '../../Styles/reset.scss';

.signUpDetail {
  box-sizing: border-box;
  footer {
    width: 100%;
    .button {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .signUpTitle {
    width: 100%;
    height: 20vh;
    text-align: center;
    line-height: 5;
    font-size: 1.8rem;
    font-weight: 900;
  }
  .detailFill {
    width: 40vw;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5rem;
    .footer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      border-top: 1px solid #bebebe;
      border-bottom: 1px solid black;
      button {
        width: 100%;
        height: 2rem;
        margin: 2rem 0;
        background-color: $PrimaryGreen;
        color: white;
        text-align: center;
        border: none;
      }
    }
    .memberInfoTitle {
      width: 100%;
      height: 3rem;
      border-top: 2px solid black;
      border-bottom: 2px solid #bebebe;
      line-height: 3;
      font-weight: 900;
    }
    .infoTable {
      width: 700px;
      li {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        .inputWrap {
          display: flex;
          .marginRight {
            margin-right: 10px;
          }
        }
        input {
          width: 100%;
          height: 2rem;
        }
        span {
          margin: 5px;
        }
        select {
          width: 100%;
        }
        .fillUpRule {
          display: flex;
          flex-direction: column;
          font-size: 2px;
          span {
            padding: 5px;
            font-size: 0.8rem;
          }
        }
        .infoTitle {
          font-size: calc(0.5em + 0.5vw);
          font-weight: 900;
        }
        button {
          background-color: $PrimaryGreen;
          color: #fff;
          width: calc(3em + 3vw);
          height: 2rem;
          margin-left: 1rem;
          border: none;
        }
        &:nth-child(5) {
          width: 100%;
          form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
          }
        }
        &:nth-child(7) {
          width: 100%;
          form {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
          }
        }
      }
    }
  }
}
