@import '../../Styles/common.scss';
@import '../../Styles/reset.scss';
.signUp {
  .signUpTitle {
    display: flex;
    width: 70vw;
    height: 30vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .signUpTitleWords {
      margin: 20px;
      padding: 1rem;
      font-size: 2rem;
      font-weight: 900;
    }
    .signUpGreetingWords {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .signUpGreetingDetails {
      font-size: 1rem;
      margin-top: 1rem;
      text-align: center;
    }
  }
  .signUpMember {
    display: flex;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    justify-content: space-between;
    .integratedMember {
      position: relative;
      display: flex;
      width: 49%;
      border-top: 2px solid black;
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
      flex-direction: column;
      text-align: center;
      b {
        font-weight: 900;
        top: 45px;
        @extend .middlePosition;
        font-size: 1.5rem;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $PrimaryYellow;
          top: 23px;
          left: 0;
        }
      }
      img {
        width: 200px;
        height: 55px;
        top: 6.5rem;
        @extend .middlePosition;
      }
      ul {
        font-size: 10px;
        @extend .middlePosition;
        top: 12rem;
        li {
          margin-top: 2rem;
          font-weight: 400;
          font-size: 1rem;
        }
      }
      button {
        background-color: $PrimaryGreen;
        width: 20rem;
        height: 3rem;
        color: #fff;
        padding: 0.5rem 2rem;
        border: none;
        bottom: 2rem;
        font-size: 1rem;
        @extend .middlePosition;
      }
    }
    .generalMember {
      position: relative;
      display: flex;
      width: 49%;
      border-top: 2px solid black;
      flex-direction: column;
      text-align: center;
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
      b {
        font-weight: 900;
        top: 45px;
        @extend .middlePosition;
        font-size: 1.5rem;
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $PrimaryYellow;
          top: 23px;
          left: 0;
        }
      }
      img {
        width: 200px;
        height: 40px;
        top: 6.5rem;
        @extend .middlePosition;
      }
      p {
        @extend .middlePosition;
        top: 12rem;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 2rem;
        width: 20rem;
      }
      button {
        background-color: $PrimaryGreen;
        width: 20rem;
        height: 3rem;
        color: #fff;
        padding: 0.5rem 2rem;
        border: none;
        bottom: 2rem;
        font-size: 1rem;
        @extend .middlePosition;
      }
    }
  }
  .signUpSns {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    p {
      padding: 10px;
    }
  }
}
